@using LibraryDAL.Models

@model IEnumerable<Book>

<section>
    <div>
        @if (Model == null || Model.Count() == 0)
        {
            <h1 class="text-lg-center">No Books Yet</h1>
        }
        else
        {
            <table class="table table-striped table-bordered">
                <tbody>

                    @{
                        int counter = 0;
                        foreach (var book in Model)
                        {
                            <tr>
                                <td class="text-right">@(++counter)</td>
                                <td>@book.Name</td>
                                <td>@book.Author</td>
                                <td class="text-center">@Html.ActionLink("Remove", "RemoveFromBasket", "Home", new { id = book.BookID }, null)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @Html.ActionLink("Order", "MakeOrder", "Home", null, new { @class = "btn btn-primary" })
        }
        @Html.ActionLink("Back to catalog", "Index", new { page = 1 }, new { @class = "btn btn-secondary" })
    </div>
</section>